*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: grey;
    height: 100vh;
}